<div class="card">
  <div class="card-body">
    <%= form_with(model: reimbursement_closure) do |form| %>
      <div class="row">
        <div class="row">
          <div class="col">
            <span class="float-start fs-3 fw-bold text-primary">
              <%= image_tag(page_reimbursement_closure, class: "img-fluid") %>
              &emsp;
              <%= page_title_reimbursement_closure %>
            </span>
            <span class="float-end">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </span>
          </div>
          <hr class="text-dark m-2"/>
        </div>
        <% if reimbursement_closure.errors.any? %>
          <div class="col bg-danger text-white rounded mb-3">
            <h2><%= pluralize(reimbursement_closure.errors.count, "errori") %>&emsp;hanno impedito in salvataggio:</h2>
            <ul>
              <% reimbursement_closure.errors.each do |error| %>
                <li class="fs-5 fw-bold"><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="input-group mb-1">
            <span class="input-group-text bg-primary text-white">
              <i class="fa-solid fa-calendar-days fs-5 fw-bold"></i>
              &nbsp
              <%= form.label :year, class: "fs-5 fw-bold" %>
            </span>
            <%= form.text_field :year, class: "form-control fs-5 fw-bold" %>
          </div>
        </div>
        <div class="col-4">
          <div class="input-group mb-3">
            <span class="input-group-text bg-primary text-white">
              <i class="fa-solid fa-calendar-week fs-5 fw-bold"></i>
              &nbsp
              <%= form.label :month, class: "fs-5 fw-bold" %>
            </span>
            <%= form.text_field :month, class: "form-control fs-5 fw-bold" %>
          </div>
        </div>
        <div class="col-4">
          <div class="input-group mb-3">
            <span class="input-group-text bg-primary text-white">
              <i class="fa-solid fa-calendar-week fs-5 fw-bold"></i>
              &nbsp
              <%= form.label :period, class: "fs-5 fw-bold" %>
            </span>
            <%= form.text_field :period, class: "form-control fs-5 fw-bold" %>
          </div>
        </div>
      </div>
      <hr class="text-primary"/>
      <% if current_user.admin == true || current_user.payroll == true %>
        <div class="row">
          <div class="col-6">
            <span class="float-start mt-4">
              <%= form.check_box :payment, class: "form-check-input border-primary fs-5 fw-bold" %>
              &nbsp;
              <%= form.label :payment, class: "form-check-label fs-5 fw-bold text-primary"%>
              &emsp;
            </span>
          </div>
          <div class="col-6">
            <div class="input-group mb-3 mt-3">
              <span class="input-group-text input-group-text-fixed bg-primary text-white">
                <i class="fa-solid fa-calendar-day fs-5 fw-bold"></i>
                &nbsp
                <%= form.label :payment_date, class: "fs-5 fw-bold" %>
              </span>
              <%= form.date_field :payment_date, class: "form-control fs-5 fw-bold" %>
            </div>
          </div>
        </div>
      <% end %>
      <hr class="text-primary"/>
      <div class="row">
        <div class="col-6">
          <div class="input-group mb-3 mt-3">
            <span class="input-group-text input-group-text-fixed bg-primary text-white">
              <i class="fa-solid fa-calendar-day fs-5 fw-bold"></i>
              &nbsp
              <%= form.label :print_reimbursement, class: "fs-5 fw-bold" %>
            </span>
            <%= form.file_field :print_reimbursement, class: "form-control fs-5 fw-bold" %>
          </div>
          <div class="input-group mb-3 mt-3">
            <span class="input-group-text input-group-text-fixed bg-primary text-white">
              <i class="fa-solid fa-calendar-day fs-5 fw-bold"></i>
              &nbsp
              <%= form.label :summary_reimbursement, class: "fs-5 fw-bold" %>
            </span>
            <%= form.file_field :summary_reimbursement, class: "form-control fs-5 fw-bold" %>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group mb-3 mt-3">
            <span class="input-group-text input-group-text-fixed bg-primary text-white">
              <i class="fa-solid fa-calendar-day fs-5 fw-bold"></i>
              &nbsp
              <%= form.label :highway_movement_reimbursement, class: "fs-5 fw-bold" %>
            </span>
            <%= form.file_field :highway_movement_reimbursement, class: "form-control fs-5 fw-bold" %>
          </div>
        </div>
      </div>
      <hr class="text-primary"/>
      <div class="row">
        <div class="col-6">
          <div class="input-group mb-3 mt-3">
            <span class="input-group-text input-group-text-fixed bg-primary text-white">
              <i class="fa-solid fa-calendar-day fs-5 fw-bold"></i>
              &nbsp
              <%= form.label :receipt_one_reimbursement, class: "fs-5 fw-bold" %>
            </span>
            <%= form.file_field :receipt_one_reimbursement, class: "form-control fs-5 fw-bold" %>
          </div>
          <div class="input-group mb-3 mt-3">
            <span class="input-group-text input-group-text-fixed bg-primary text-white">
              <i class="fa-solid fa-calendar-day fs-5 fw-bold"></i>
              &nbsp
              <%= form.label :receipt_two_reimbursement, class: "fs-5 fw-bold" %>
            </span>
            <%= form.file_field :receipt_two_reimbursement, class: "form-control fs-5 fw-bold" %>
          </div>
          <div class="input-group mb-3 mt-3">
            <span class="input-group-text input-group-text-fixed bg-primary text-white">
              <i class="fa-solid fa-calendar-day fs-5 fw-bold"></i>
              &nbsp
              <%= form.label :receipt_three_reimbursement, class: "fs-5 fw-bold" %>
            </span>
            <%= form.file_field :receipt_three_reimbursement, class: "form-control fs-5 fw-bold" %>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group mb-3 mt-3">
            <span class="input-group-text input-group-text-fixed bg-primary text-white">
              <i class="fa-solid fa-calendar-day fs-5 fw-bold"></i>
              &nbsp
              <%= form.label :receipt_four_reimbursement, class: "fs-5 fw-bold" %>
            </span>
            <%= form.file_field :receipt_four_reimbursement, class: "form-control fs-5 fw-bold" %>
          </div>
          <div class="input-group mb-3 mt-3">
            <span class="input-group-text input-group-text-fixed bg-primary text-white">
              <i class="fa-solid fa-calendar-day fs-5 fw-bold"></i>
              &nbsp
              <%= form.label :receipt_five_reimbursement, class: "fs-5 fw-bold" %>
            </span>
            <%= form.file_field :receipt_five_reimbursement, class: "form-control fs-5 fw-bold" %>
          </div>
          <div class="input-group mb-3 mt-3">
            <span class="input-group-text input-group-text-fixed bg-primary text-white">
              <i class="fa-solid fa-calendar-day fs-5 fw-bold"></i>
              &nbsp
              <%= form.label :receipt_six_reimbursement, class: "fs-5 fw-bold" %>
            </span>
            <%= form.file_field :receipt_six_reimbursement, class: "form-control fs-5 fw-bold" %>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="d-grid">
            <%= form.submit class: "btn btn-success shadow fs-5 fw-bold" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
