<div class="card">
  <div class="card-header bg-light">
    <span class="float-start fs-3 fw-bold text-primary">
      <%= image_tag("reimbursement_closure/reimbursement_closures-logo.svg", class: "img-fluid", alt: "reimbursement_closures-logo.svg") %>
      &emsp;
      Chiusure Rimborsi
    </span>
    <span class="float-end fs-4 fw-bold">
      <%= link_to new_reimbursement_closure_path, class: "btn btn-sm btn-success shadow  fs-5 fw-bold", data: { turbo: true, turbo_frame: 'modal' }, title: "Crea un Nuovo Record" do %>
        <span class="fs-6 fw-bold">
          <i class="fa-solid fa-plus"></i>
          &nbsp;
          <i class="fa-solid fa-unlock-keyhole"></i>
          &nbsp;
          Nuova Chiusura Rimborsi
        </span>
      <% end %>
    </span>
  </div>
  <% unless !current_user.admin? && !current_user.payroll? %>
    <!-- Search Form -->
    <%= search_form_for @q, id: "search-form", url: reimbursement_closures_path do |form| %>
      <div class="row m-2">
        <div class="col-4">
          <div class="input-group mb-2">
            <div class="input-group-text bg-primary text-white">
              <i class="fa-solid fa-calendar-days"></i>
              &nbsp;<span>Anno</span>
            </div>
            <%= form.text_field :year_cont, class: "form-control" %>
          </div>
        </div>
        <div class="col-4">
          <div class="input-group mb-2">
            <div class="input-group-text bg-primary text-white">
              <i class="fa-solid fa-calendar-week"></i>
              &nbsp;<span>Mese</span>
            </div>
            <%= form.text_field :month_cont, class: "form-control" %>
          </div>
        </div>
        <div class="col-4">
          <div class="input-group mb-2">
            <div class="input-group-text bg-primary text-white">
              <i class="fa-solid fa-calendar-week"></i>
              &nbsp;<span>Periodo</span>
            </div>
            <%= form.text_field :period_cont, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row m-2">
        <div class="col-7">
          <div class="input-group mb-2">
            <div class="input-group-text input-group-text-fixed bg-primary text-white">
              <i class="fa-solid fa-calendar-day"></i>
              &nbsp;<span>Utente</span>
            </div>
            <%= form.select :user_id_eq, 
      options_from_collection_for_select(
        User.same_region_and_province_as(current_user), 
        :id, 
        :user_name_full, 
        @q.user_id_eq
      ),
      { include_blank: true },
      class: 'form-control' %>
          </div>
        </div>
        <div class="col-5">
          <div class="d-grid mb-2">
            <%= button_tag(type: "submit", class: "btn btn-primary") do %>
              <i class="fa-solid fa-magnifying-glass"></i>
              &emsp;
              <strong>
                Cerca
              </strong>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr/>
  <div id="reimbursement_closures">
    <table class="table table-hover">
      <thead>
        <th class="fs-5 fw-bold text-primary text-center">
          <i class="fa-solid fa-arrow-up-9-1 fs-5 fw-bold text-primary"></i>
          &nbsp;
          Numero
        </th>
        <th class="fs-5 fw-bold text-primary text-center">
          <i class="fa-solid fa-calendar-days fs-5 fw-bold text-primary"></i>
          &nbsp;
          Anno
        </th>
        <th class="fs-5 fw-bold text-primary text-center">
          <i class="fa-solid fa-calendar-week fs-5 fw-bold text-primary"></i>
          &nbsp;
          Mese
        </th>
        <th class="fs-5 fw-bold text-primary text-center">
          <i class="fa-solid fa-calendar-week fs-5 fw-bold text-primary"></i>
          &nbsp;
          Periodo
        </th>
        <th class="fs-5 fw-bold text-primary text-center">
          <i class="fa-solid fa-money-bill fs-5 fw-bold text-primary"></i>
          &nbsp;
          Pagamento
        </th>
        <th class="fs-5 fw-bold text-primary text-center">
          <i class="fa-solid fa-calendar-day fs-5 fw-bold text-primary"></i>
          &nbsp;
          Data Pagamento
        </th>
        <% unless !current_user.admin? && !current_user.payroll? %>
          <th class="fs-5 fw-bold text-primary">
            <i class="fa-solid fa-user fs-5 fw-bold text-primary"></i>
            &nbsp;
            Utente
          </th>
        <% end %>
        <th colspan=2></th>
      </th>
    </thead>
    <tbody>
      <% @reimbursement_closures.each do |reimbursement_closure| %>
        <%= render reimbursement_closure %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>