<div class="col-2">
  <nav class="sidebar d-flex flex-column p-3 rounded bg-light">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-gears"></i>
          &nbsp;
          Servizio
        </a>
        <ul class="dropdown-menu" aria-labelledby="productsDropdown">
          <%= link_to vehicles_path, class: "dropdown-item" do %>
            <i class="fa-solid fa-car"></i>
            Veicoli
          <% end %>
          <%= link_to transports_path, class: "dropdown-item" do %>
            <i class="fa-solid fa-train"></i>
            Trasporti
          <% end %>
          <%= link_to roads_path, class: "dropdown-item" do %>
            <i class="fa-solid fa-road"></i>
            Percorsi
          <% end %>
          <%= link_to places_path, class: "dropdown-item" do %>
            <i class="fa-solid fa-city"></i>
            Luoghi
          <% end %>
          <%= link_to structures_path, class: "dropdown-item" do %>
            <i class="fa-solid fa-building"></i>
            Strutture
          <% end %>
          <%= link_to reasons_path, class: "dropdown-item" do %>
            <i class="fa-solid fa-file-circle-question"></i>
            Motivi Missione
          <% end %>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-receipt"></i>
          &nbsp;
          Rimborsi
        </a>
        <ul class="dropdown-menu" aria-labelledby="productsDropdown">
          <%= link_to reimbursements_path, class: "dropdown-item" do %>
            <i class="fa-solid fa-list-ul"></i>
            <i class="fa-solid fa-receipt"></i>
            &nbsp;
            Elenco Rimborsi
          <% end %>
          <%= link_to print_reimbursements_path, class: "dropdown-item" do %>
            <i class="fa-solid fa-print"></i>
            <i class="fa-solid fa-receipt"></i>
            &nbsp;
            Stampa Rimborsi
          <% end %>
          <%= link_to print_list_reimbursements_path, class: "dropdown-item" do %>
            <i class="fa-solid fa-print"></i>
            <i class="fa-solid fa-receipt"></i>
            &nbsp;
            Stampa Riepiloghi
          <% end %>
        </ul>
      </li>
      <li>
        <a href="#" class="nav-link">Link</a>
      </li>
    </ul>
  </nav>
</div>
