<div class="card shadow">
  <div class="card-body">
    <p class="text-center mb-3">
      <%= image_tag("login/login-logo.svg", class: "img-fluid", alt: "login_logo") %>
    </p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-group input-group-text-fixed mb-2">
        <span class="input-group-text input-group-text-fixed bg-primary text-white">
          <i class="fa-solid fa-user fs-5 fw-bold"></i>
          &nbsp;
          <%= f.label :username, class: "fs-5 fw-bold" %>
        </span>
        <%= f.text_field :username, class: 'form-control fs-5 fw-bold' %>
      </div>
      <div class="input-group input-group-text-fixed mb-3">
        <span class="input-group-text input-group-text-fixed bg-primary text-white">
          <i class="fa-solid fa-key fs-5 fw-bold"></i>
          &nbsp;
          <%= f.label :password, class: "fs-5 fw-bold" %>
        </span>
        <%= f.password_field :password, class: 'form-control fs-5 fw-bold' %>
      </div>
      <div class="d-grid mb-5">
        <%= button_tag(type: "submit", class: "btn btn-primary fs-5 fw-bold") do %>
          <i class="fas fa-sign-in-alt fs-5 fw-bold"></i>&ensp;ACCEDI
        <% end %>
      </div>
    <% end %>
  </div>
</div>