<tr id="<%= dom_id reimbursement %>">
  <td class="d-grid">
    <%= link_to reimbursement, class: "btn btn-sm btn-info shadow", data: { turbo: true, turbo_frame: 'modal' }, title: "Visualizza il Record Corrente" do %>
      <span class="fs-5 fw-bold">
        <%= reimbursement.name %>
      </span>
    <% end %>
  </td>
  <td>
    <span class="fs-5 fw-bold">
      <%= l(reimbursement.departure_date) %>
    </span>
  </td>
  <td>
    <span class="fs-5 fw-bold">
      <%= reimbursement.place_fr %>
    </span>
  </td>
  <td>
    <span class="fs-5 fw-bold">
      <%= reimbursement.structure_fr %>
    </span>
  </td>
  <td>
    <%= link_to edit_reimbursement_path(reimbursement), class: "btn btn-sm btn-warning shadow", data: { turbo: true, turbo_frame: 'modal' }, title: "Modifica il Record Corrente" do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
  </td>
  <td>
    <%= link_to reimbursement, class: "btn btn-sm btn-danger shadow", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Sicuri di voler eliminare il record corrente?" } do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </td>
</tr>
